/* line 5, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/global/_construct.scss */
.hide {
  position: absolute !important;
  left: -9999em;
}

/* line 16, ../sass/global/_construct.scss */
.left, div.left {
  float: left;
}

/* line 17, ../sass/global/_construct.scss */
.right, div.right {
  float: right;
}

/* line 20, ../sass/global/_construct.scss */
.clear {
  clear: both;
}

/* line 21, ../sass/global/_construct.scss */
.clear-right {
  clear: right;
}

/* line 22, ../sass/global/_construct.scss */
.clear-left {
  clear: left;
}

/* line 24, ../sass/global/_construct.scss */
clear {
  display: block;
  width: 100%;
  clear: both;
}

/* line 30, ../sass/global/_construct.scss */
.block {
  display: block;
}

/* line 35, ../sass/global/_construct.scss */
html .field-default {
  color: #9d9d9d;
}

/* line 40, ../sass/global/_construct.scss */
.pointer {
  cursor: pointer;
}

/* line 45, ../sass/global/_construct.scss */
.site-width {
  width: 80%;
  max-width: 1024px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
/* line 48, ../sass/global/_construct.scss */
.site-width .site-width {
  width: 100%;
}

/* line 55, ../sass/global/_construct.scss */
strong, b,
.strong {
  font-weight: bold;
}

/* line 60, ../sass/global/_construct.scss */
em, i {
  font-style: italic;
}

/* line 64, ../sass/global/_construct.scss */
.sml,
.small {
  font-size: 80%;
  line-height: 1.25em;
}

/* line 71, ../sass/global/_construct.scss */
.h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 600;
}

/* line 72, ../sass/global/_construct.scss */
.h2 {
  font-size: 1.5em;
  line-height: 1.33em;
  font-weight: 600;
}

/* line 73, ../sass/global/_construct.scss */
.h3 {
  font-size: 1.33em;
  line-height: 1.5em;
  font-weight: 600;
}

/* line 74, ../sass/global/_construct.scss */
.h4 {
  font-size: 1.22em;
  line-height: 1.22em;
  font-weight: 600;
}

/* line 75, ../sass/global/_construct.scss */
.h5 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

/* line 77, ../sass/global/_construct.scss */
.nowrap {
  white-space: nowrap;
}

/* line 81, ../sass/global/_construct.scss */
.center {
  text-align: center;
}

/* line 87, ../sass/global/_construct.scss */
.auto-cntr {
  margin-left: auto;
  margin-right: auto;
}

/* line 94, ../sass/global/_construct.scss */
.br {
  display: block;
}

/* line 101, ../sass/global/_construct.scss */
.rounded-5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 102, ../sass/global/_construct.scss */
.rounded-10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 103, ../sass/global/_construct.scss */
.rounded-15 {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

/* line 104, ../sass/global/_construct.scss */
.rounded-20 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 108, ../sass/global/_construct.scss */
.white {
  color: #ffffff;
}

/* line 109, ../sass/global/_construct.scss */
.black {
  color: #000000;
}

/* line 110, ../sass/global/_construct.scss */
.ltgray {
  color: #dddddd;
}

/* line 111, ../sass/global/_construct.scss */
.mdgray {
  color: #777777;
}

/* line 112, ../sass/global/_construct.scss */
.dkgray {
  color: #515151;
}

/* line 113, ../sass/global/_construct.scss */
.silver {
  color: #c0c0c0;
}

/* line 114, ../sass/global/_construct.scss */
.ltred {
  color: #d9837b;
}

/* line 115, ../sass/global/_construct.scss */
.mdred {
  color: #b02e1c;
}

/* line 116, ../sass/global/_construct.scss */
.dkred {
  color: #762921;
}

/* line 117, ../sass/global/_construct.scss */
.ltgreen {
  color: #e8f6e5;
}

/* line 118, ../sass/global/_construct.scss */
.mdgreen {
  color: #36b048;
}

/* line 119, ../sass/global/_construct.scss */
.dkgreen {
  color: #20682a;
}

/* line 120, ../sass/global/_construct.scss */
.ltblue {
  color: #e3ebf8;
}

/* line 121, ../sass/global/_construct.scss */
.mdblue {
  color: #6698d5;
}

/* line 122, ../sass/global/_construct.scss */
.dkblue {
  color: #294c76;
}

/* line 123, ../sass/global/_construct.scss */
.ltorange {
  color: #fdaa68;
}

/* line 124, ../sass/global/_construct.scss */
.mdorange {
  color: #e17d2c;
}

/* line 125, ../sass/global/_construct.scss */
.dkorange {
  color: #b9490d;
}

/* line 126, ../sass/global/_construct.scss */
.ltyellow {
  color: #fbf6d9;
}

/* line 127, ../sass/global/_construct.scss */
.mdyellow {
  color: #e5d14a;
}

/* line 128, ../sass/global/_construct.scss */
.dkyellow {
  color: #ac9605;
}

/* line 130, ../sass/global/_construct.scss */
.bg-white {
  background: #ffffff;
}

/* line 131, ../sass/global/_construct.scss */
.bg-black {
  background: #000000;
}

/* line 132, ../sass/global/_construct.scss */
.bg-ltgray {
  background: #dddddd;
}

/* line 133, ../sass/global/_construct.scss */
.bg-mdgray {
  background: #777777;
}

/* line 134, ../sass/global/_construct.scss */
.bg-dkgray {
  background: #515151;
}

/* line 135, ../sass/global/_construct.scss */
.bg-silver {
  background: #c0c0c0;
}

/* line 136, ../sass/global/_construct.scss */
.bg-ltred {
  background: #d9837b;
}

/* line 137, ../sass/global/_construct.scss */
.bg-mdred {
  background: #b02e1c;
}

/* line 138, ../sass/global/_construct.scss */
.bg-dkred {
  background: #762921;
}

/* line 139, ../sass/global/_construct.scss */
.bg-ltgreen {
  background: #e8f6e5;
}

/* line 140, ../sass/global/_construct.scss */
.bg-ltrgreen {
  background: white;
}

/* line 141, ../sass/global/_construct.scss */
.bg-mdgreen {
  background: #36b048;
}

/* line 142, ../sass/global/_construct.scss */
.bg-dkgreen {
  background: #20682a;
}

/* line 143, ../sass/global/_construct.scss */
.bg-ltblue {
  background: #e3ebf8;
}

/* line 144, ../sass/global/_construct.scss */
.bg-ltrblue {
  background: white;
}

/* line 145, ../sass/global/_construct.scss */
.bg-mdblue {
  background: #6698d5;
}

/* line 146, ../sass/global/_construct.scss */
.bg-dkblue {
  background: #294c76;
}

/* line 147, ../sass/global/_construct.scss */
.bg-ltorange {
  background: #fdaa68;
}

/* line 148, ../sass/global/_construct.scss */
.bg-mdorange {
  background: #e17d2c;
}

/* line 149, ../sass/global/_construct.scss */
.bg-dkorange {
  background: #b9490d;
}

/* line 150, ../sass/global/_construct.scss */
.bg-ltyellow {
  background: #fbf6d9;
}

/* line 151, ../sass/global/_construct.scss */
.bg-mdyellow {
  background: #e5d14a;
}

/* line 152, ../sass/global/_construct.scss */
.bg-dkyellow {
  background: #ac9605;
}

/* line 160, ../sass/global/_construct.scss */
.b-top {
  border-top: 1px solid #dddddd;
}

/* line 161, ../sass/global/_construct.scss */
.b-bot {
  border-bottom: 1px solid #dddddd;
}

/* line 162, ../sass/global/_construct.scss */
.b-left {
  border-left: 1px solid #dddddd;
}

/* line 163, ../sass/global/_construct.scss */
.b-right {
  border-right: 1px solid #dddddd;
}

/* line 164, ../sass/global/_construct.scss */
.borders {
  border: 1px solid #dddddd;
}

/* line 166, ../sass/global/_construct.scss */
.b-top-2 {
  border-top: 2px solid #dddddd;
}

/* line 167, ../sass/global/_construct.scss */
.b-bot-2 {
  border-bottom: 2px solid #dddddd;
}

/* line 168, ../sass/global/_construct.scss */
.b-left-2 {
  border-left: 2px solid #dddddd;
}

/* line 169, ../sass/global/_construct.scss */
.b-right-2 {
  border-right: 2px solid #dddddd;
}

/* line 170, ../sass/global/_construct.scss */
.borders-2 {
  border: 2px solid #dddddd;
}

/* line 172, ../sass/global/_construct.scss */
.b-top-ltblu {
  border-top: 1px solid #e3ebf8;
}

/* line 173, ../sass/global/_construct.scss */
.b-bot-ltblu {
  border-bottom: 1px solid #e3ebf8;
}

/* line 174, ../sass/global/_construct.scss */
.b-left-ltblu {
  border-left: 1px solid #e3ebf8;
}

/* line 175, ../sass/global/_construct.scss */
.b-right-ltblu {
  border-right: 1px solid #e3ebf8;
}

/* line 176, ../sass/global/_construct.scss */
.borders-ltblu {
  border: 1px solid #e3ebf8;
}

/* line 178, ../sass/global/_construct.scss */
.b-top-ltred {
  border-top: 1px solid #d9837b;
}

/* line 179, ../sass/global/_construct.scss */
.b-bot-ltred {
  border-bottom: 1px solid #d9837b;
}

/* line 180, ../sass/global/_construct.scss */
.b-left-ltred {
  border-left: 1px solid #d9837b;
}

/* line 181, ../sass/global/_construct.scss */
.b-right-ltred {
  border-right: 1px solid #d9837b;
}

/* line 182, ../sass/global/_construct.scss */
.borders-ltred {
  border: 1px solid #d9837b;
}

/* line 184, ../sass/global/_construct.scss */
.b-top-ltyel {
  border-top: 1px solid #fbf6d9;
}

/* line 185, ../sass/global/_construct.scss */
.b-bot-ltyel {
  border-bottom: 1px solid #fbf6d9;
}

/* line 186, ../sass/global/_construct.scss */
.b-left-ltyel {
  border-left: 1px solid #fbf6d9;
}

/* line 187, ../sass/global/_construct.scss */
.b-right-ltyel {
  border-right: 1px solid #fbf6d9;
}

/* line 188, ../sass/global/_construct.scss */
.borders-ltyel {
  border: 1px solid #fbf6d9;
}

/* line 190, ../sass/global/_construct.scss */
.b-top-ltgrn {
  border-top: 1px solid #e8f6e5;
}

/* line 191, ../sass/global/_construct.scss */
.b-bot-ltgrn {
  border-bottom: 1px solid #e8f6e5;
}

/* line 192, ../sass/global/_construct.scss */
.b-left-ltgrn {
  border-left: 1px solid #e8f6e5;
}

/* line 193, ../sass/global/_construct.scss */
.b-right-ltgrn {
  border-right: 1px solid #e8f6e5;
}

/* line 194, ../sass/global/_construct.scss */
.borders-ltgrn {
  border: 1px solid #e8f6e5;
}

/* line 198, ../sass/global/_construct.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 201, ../sass/global/_construct.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 204, ../sass/global/_construct.scss */
.ml-0 {
  margin-left: 0 !important;
}

/* line 207, ../sass/global/_construct.scss */
.mr-0 {
  margin-right: 0 !important;
}

/* line 211, ../sass/global/_construct.scss */
.mt-3125 {
  margin-top: 0.3125em !important;
}

/* line 214, ../sass/global/_construct.scss */
.mb-3125 {
  margin-bottom: 0.3125em !important;
}

/* line 217, ../sass/global/_construct.scss */
.ml-3125 {
  margin-left: 0.3125em !important;
}

/* line 220, ../sass/global/_construct.scss */
.mr-3125 {
  margin-right: 0.3125em !important;
}

/* line 224, ../sass/global/_construct.scss */
.mt-0625 {
  margin-top: 0.625em !important;
}

/* line 227, ../sass/global/_construct.scss */
.mb-0625 {
  margin-bottom: 0.625em !important;
}

/* line 230, ../sass/global/_construct.scss */
.ml-0625 {
  margin-left: 0.625em !important;
}

/* line 233, ../sass/global/_construct.scss */
.mr-0625 {
  margin-right: 0.625em !important;
}

/* line 237, ../sass/global/_construct.scss */
.ml-1 {
  margin-left: 1em !important;
}

/* line 240, ../sass/global/_construct.scss */
.mr-1 {
  margin-right: 1em !important;
}

/* line 243, ../sass/global/_construct.scss */
.mt-1 {
  margin-top: 1em !important;
}

/* line 246, ../sass/global/_construct.scss */
.mb-1 {
  margin-bottom: 1em !important;
}

/* line 250, ../sass/global/_construct.scss */
.mt-125 {
  margin-top: 1.25em !important;
}

/* line 253, ../sass/global/_construct.scss */
.mb-125 {
  margin-bottom: 1.25em !important;
}

/* line 256, ../sass/global/_construct.scss */
.ml-125 {
  margin-left: 1.25em !important;
}

/* line 259, ../sass/global/_construct.scss */
.mr-125 {
  margin-right: 1.25em !important;
}

/* line 263, ../sass/global/_construct.scss */
.mt-25 {
  margin-top: 2.5em !important;
}

/* line 266, ../sass/global/_construct.scss */
.mb-25 {
  margin-bottom: 2.5em !important;
}

/* line 269, ../sass/global/_construct.scss */
.ml-25 {
  margin-left: 2.5em !important;
}

/* line 272, ../sass/global/_construct.scss */
.mr-25 {
  margin-right: 2.5em !important;
}

/* line 276, ../sass/global/_construct.scss */
.mt-375 {
  margin-top: 3.75em !important;
}

/* line 279, ../sass/global/_construct.scss */
.mb-375 {
  margin-bottom: 3.75em !important;
}

/* line 285, ../sass/global/_construct.scss */
.p-0 {
  padding: 0 !important;
}

/* line 288, ../sass/global/_construct.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 291, ../sass/global/_construct.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 294, ../sass/global/_construct.scss */
.pl-0 {
  padding-left: 0 !important;
}

/* line 297, ../sass/global/_construct.scss */
.pr-0 {
  padding-right: 0 !important;
}

/* line 301, ../sass/global/_construct.scss */
.p-0625 {
  padding: 0.625em !important;
}

/* line 304, ../sass/global/_construct.scss */
.pt-0625 {
  padding-top: 0.625em !important;
}

/* line 307, ../sass/global/_construct.scss */
.pb-0625 {
  padding-bottom: 0.625em !important;
}

/* line 310, ../sass/global/_construct.scss */
.pl-0625 {
  padding-left: 0.625em !important;
}

/* line 313, ../sass/global/_construct.scss */
.pr-0625 {
  padding-right: 0.625em !important;
}

/* line 317, ../sass/global/_construct.scss */
.p-1 {
  padding: 1em !important;
}

/* line 320, ../sass/global/_construct.scss */
.pl-1 {
  padding-left: 1em !important;
}

/* line 323, ../sass/global/_construct.scss */
.pr-1 {
  padding-right: 1em !important;
}

/* line 326, ../sass/global/_construct.scss */
.pt-1 {
  padding-top: 1em !important;
}

/* line 329, ../sass/global/_construct.scss */
.pb-1 {
  padding-bottom: 1em !important;
}

/* line 333, ../sass/global/_construct.scss */
.p-125 {
  padding-top: 1.25em !important;
}

/* line 336, ../sass/global/_construct.scss */
.pl-125 {
  padding-left: 1.25em !important;
}

/* line 339, ../sass/global/_construct.scss */
.pr-125 {
  padding-right: 1.25em !important;
}

/* line 342, ../sass/global/_construct.scss */
.pt-125 {
  padding-top: 1.25em !important;
}

/* line 345, ../sass/global/_construct.scss */
.pb-125 {
  padding-bottom: 1.25em !important;
}

/* line 349, ../sass/global/_construct.scss */
.p-25 {
  padding: 2.5em !important;
}

/* line 352, ../sass/global/_construct.scss */
.pt-25 {
  padding-top: 2.5em !important;
}

/* line 355, ../sass/global/_construct.scss */
.pb-25 {
  padding-bottom: 2.5em !important;
}

/* line 358, ../sass/global/_construct.scss */
.pl-25 {
  padding-left: 2.5em !important;
}

/* line 361, ../sass/global/_construct.scss */
.pr-25 {
  padding-right: 2.5em !important;
}

/* line 365, ../sass/global/_construct.scss */
.p-375 {
  padding: 3.75em !important;
}

/* line 368, ../sass/global/_construct.scss */
.pt-375 {
  padding-top: 3.75em !important;
}

/* line 371, ../sass/global/_construct.scss */
.pb-375 {
  padding-bottom: 3.75em !important;
}

/* line 374, ../sass/global/_construct.scss */
.pl-375 {
  padding-left: 3.75em !important;
}

/* line 377, ../sass/global/_construct.scss */
.pr-375 {
  padding-right: 3.75em !important;
}

/* line 38, ../sass/global/_dom.scss */
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #515151;
  overflow-x: hidden;
}

/* line 44, ../sass/global/_dom.scss */
html > body {
  line-height: 1.25em;
}

/* line 50, ../sass/global/_dom.scss */
h1, h2, h3, h4, h5, h6 {
  color: #515151;
}

/* line 56, ../sass/global/_dom.scss */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 600;
}

/* line 59, ../sass/global/_dom.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.33em;
  font-weight: 600;
}

/* line 62, ../sass/global/_dom.scss */
h3 {
  font-size: 1.33em;
  line-height: 1.5em;
  font-weight: 600;
}

/* line 65, ../sass/global/_dom.scss */
h4 {
  font-size: 1.22em;
  line-height: 1.22em;
  font-weight: 600;
}

/* line 68, ../sass/global/_dom.scss */
h5 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

/* line 73, ../sass/global/_dom.scss */
img,
object,
embed,
video {
  max-width: 100%;
}

/* line 82, ../sass/global/_dom.scss */
a,
li a,
li.leaf a {
  color: #36649c;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.25em;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
/* line 92, ../sass/global/_dom.scss */
a:active, a.active,
li a:active,
li a.active,
li.leaf a:active,
li.leaf a.active {
  color: #294c76;
}
/* line 93, ../sass/global/_dom.scss */
a:hover,
li a:hover,
li.leaf a:hover {
  color: #294c76;
}

/* line 95, ../sass/global/_dom.scss */
a.freelink-createnode {
  color: #b02e1c;
}
/* line 97, ../sass/global/_dom.scss */
a.freelink-createnode:hover {
  color: #762921;
}

/* line 103, ../sass/global/_dom.scss */
strong, b {
  font-weight: bold;
}

/* line 107, ../sass/global/_dom.scss */
p {
  margin: 0 0 1.25em 0;
  color: #515151;
}

/* line 112, ../sass/global/_dom.scss */
em, .em {
  font-style: italic;
}

/* line 116, ../sass/global/_dom.scss */
small {
  font-size: 80%;
  line-height: 1.25em;
}

/* line 122, ../sass/global/_dom.scss */
hlite,
.hlite {
  display: block;
  background: #fbf6d9;
  color: #656565;
  margin-bottom: 1.25em;
  padding: 0.625em;
}

/* line 132, ../sass/global/_dom.scss */
box, .box,
pre {
  display: block;
  background: #efefef;
  padding: 1em;
  margin-bottom: 1.25em;
  border: 1px solid #cbcbcb;
  color: #515151;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 145, ../sass/global/_dom.scss */
hr {
  height: 0px;
  border-color: #dddddd;
  border-width: 1px 0 0;
  border-style: solid none none;
}

/* line 152, ../sass/global/_dom.scss */
div {
  color: #515151;
}

/* line 157, ../sass/global/_dom.scss */
ul,
.item-list ul {
  margin: 1.25em 0;
}
/* line 161, ../sass/global/_dom.scss */
ul li,
ul li.leaf,
.item-list ul li,
.item-list ul li.leaf {
  list-style: disc;
  list-style-image: url("/sites/all/themes/nebula/assets/images/li-red.png");
  margin: 0 0 0 1em;
  padding-top: 0;
  list-style-position: outside;
  color: #515151;
}
/* line 170, ../sass/global/_dom.scss */
ul li.collapsed,
.item-list ul li.collapsed {
  list-style-image: url("/sites/all/themes/nebula/assets/images/li-collapse-green.png");
  margin: 0 0 0 1em !important;
  padding-top: 0;
}
/* line 175, ../sass/global/_dom.scss */
ul li.expanded,
.item-list ul li.expanded {
  list-style-image: url("/sites/all/themes/nebula/assets/images/li-open-blue.png");
  margin: 0 0 0 1em !important;
  padding-top: 0;
}

/* line 182, ../sass/global/_dom.scss */
.drupal-navbar ul li.leaf,
.drupal-navbar ul li.collapsed,
.drupal-navbar ul li.expanded {
  margin: 0 !important;
}

/* line 188, ../sass/global/_dom.scss */
#autocomplete {
  border: 1px solid #dddddd;
}
/* line 191, ../sass/global/_dom.scss */
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 197, ../sass/global/_dom.scss */
#autocomplete ul li,
#autocomplete ul li.leaf {
  margin: 0;
  padding: 2px 3px;
  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid #dddddd;
}

/* line 208, ../sass/global/_dom.scss */
ul.menu li {
  margin: 0;
}

/* line 212, ../sass/global/_dom.scss */
ol {
  list-style: decimal;
  margin-left: 1.325em;
}

/* line 217, ../sass/global/_dom.scss */
dl {
  margin-top: 2.5em;
  margin-bottom: 1.25em;
}

/* line 221, ../sass/global/_dom.scss */
dt {
  margin-top: 0.625em;
}

/* line 224, ../sass/global/_dom.scss */
dd {
  margin-left: 2em;
  margin-bottom: 0.625em;
  font-size: .9em;
}

/* line 232, ../sass/global/_dom.scss */
.html ul.links {
  display: block;
  min-height: 1.25em;
  margin: 0;
}
/* line 237, ../sass/global/_dom.scss */
.html ul.links li {
  margin: 0;
  padding: 0 3px;
  border-right: none;
  border-left: none;
}

/* line 251, ../sass/global/_dom.scss */
.html .form-item {
  margin: 0.625em 0 1.25em 0;
}
/* line 254, ../sass/global/_dom.scss */
.html .form-item label {
  font-weight: bold;
  color: #777777;
}

/* line 260, ../sass/global/_dom.scss */
.html .form-actions {
  margin: 0.625em 0;
}

/* line 263, ../sass/global/_dom.scss */
input {
  font-size: 1em;
  font-family: "Open Sans", sans-serif !important;
}

/* line 267, ../sass/global/_dom.scss */
button,
button.btn,
button.btn-grn,
input.btn,
input.btn-grn,
input.form-submit {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6698D5', endColorstr='#FF2E64A7');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OThkNSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNWE5MGQyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6698d5), color-stop(70%, #5a90d2));
  background: -moz-linear-gradient(#6698d5, #5a90d2 70%);
  background: -webkit-linear-gradient(#6698d5, #5a90d2 70%);
  background: linear-gradient(#6698d5, #5a90d2 70%);
  -moz-box-shadow: #a2c0e5 0 1px 0 inset;
  -webkit-box-shadow: #a2c0e5 0 1px 0 inset;
  box-shadow: #a2c0e5 0 1px 0 inset;
  border: 1px solid #4682cc;
  color: #ffffff;
  text-shadow: #285892 0 -1px 0;
  font-size: 18px;
  padding: 4px 8px;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
  font-family: "Open Sans", sans-serif !important;
  margin: 0 5px 0 0;
}
/* line 15, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover,
button.btn:hover,
button.btn-grn:hover,
input.btn:hover,
input.btn-grn:hover,
input.form-submit:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover,
button.btn:hover,
button.btn-grn:hover,
input.btn:hover,
input.btn-grn:hover,
input.form-submit:hover {
  background-color: #4682cc;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzUyOGJkMCIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjNDY4MmNjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #528bd0), color-stop(75%, #4682cc));
  background: -moz-linear-gradient(#528bd0 3%, #4682cc 75%);
  background: -webkit-linear-gradient(#528bd0 3%, #4682cc 75%);
  background: linear-gradient(#528bd0 3%, #4682cc 75%);
}
/* line 21, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:active,
button.btn:active,
button.btn-grn:active,
input.btn:active,
input.btn-grn:active,
input.form-submit:active {
  -moz-box-shadow: #3a7ac9 0 1px 2px inset;
  -webkit-box-shadow: #3a7ac9 0 1px 2px inset;
  box-shadow: #3a7ac9 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.disabled, button[disabled],
button.btn.disabled,
button.disabled.btn-grn,
button.btn[disabled],
button[disabled].btn-grn,
input.btn.disabled,
input.disabled.btn-grn,
input.btn[disabled],
input[disabled].btn-grn,
input.form-submit.disabled,
input.form-submit[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #5a90d2;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
button::-moz-focus-inner,
button.btn::-moz-focus-inner,
button.btn-grn::-moz-focus-inner,
input.btn::-moz-focus-inner,
input.btn-grn::-moz-focus-inner,
input.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 278, ../sass/global/_dom.scss */
input#edit-delete {
  font-size: 18px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB02E1C', endColorstr='#FF58170E');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwMmUxYyIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjYTMyYjFhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b02e1c), color-stop(70%, #a32b1a));
  background: -moz-linear-gradient(#b02e1c, #a32b1a 70%);
  background: -webkit-linear-gradient(#b02e1c, #a32b1a 70%);
  background: linear-gradient(#b02e1c, #a32b1a 70%);
  -moz-box-shadow: #e04d39 0 1px 0 inset;
  -webkit-box-shadow: #e04d39 0 1px 0 inset;
  box-shadow: #e04d39 0 1px 0 inset;
  border: 1px solid #8d2516;
  color: #ffffff;
  text-shadow: #41110a 0 -1px 0;
  font-size: 18px;
  padding: 4px 8px;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 15, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete:hover {
  background-color: #8d2516;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzlhMjgxOCIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjOGQyNTE2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #9a2818), color-stop(75%, #8d2516));
  background: -moz-linear-gradient(#9a2818 3%, #8d2516 75%);
  background: -webkit-linear-gradient(#9a2818 3%, #8d2516 75%);
  background: linear-gradient(#9a2818 3%, #8d2516 75%);
}
/* line 21, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete:active {
  -moz-box-shadow: #802114 0 1px 2px inset;
  -webkit-box-shadow: #802114 0 1px 2px inset;
  box-shadow: #802114 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete.disabled, input#edit-delete[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #a32b1a;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
input#edit-delete::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 282, ../sass/global/_dom.scss */
.form-textarea {
  font-size: 1em;
  color: #515151;
  padding: 0.3125em;
  border: 1px solid #dddddd;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
}

/* line 290, ../sass/global/_dom.scss */
.form-textarea-wrapper .grippie {
  display: none;
}

/* line 294, ../sass/global/_dom.scss */
.filter-wrapper {
  padding: 0;
}
/* line 297, ../sass/global/_dom.scss */
.filter-wrapper .filter-help {
  float: right;
  text-align: right;
  width: 49%;
  padding: 0;
}
/* line 303, ../sass/global/_dom.scss */
.filter-wrapper .form-item {
  float: left;
  width: 50%;
  margin: 0 0 1.25em;
  padding: 0;
}
/* line 309, ../sass/global/_dom.scss */
.filter-wrapper .form-item select,
.filter-wrapper .form-item label {
  float: left;
  margin-right: 5px;
}
/* line 315, ../sass/global/_dom.scss */
.filter-wrapper .filter-guidelines {
  clear: both;
}

/* line 320, ../sass/global/_dom.scss */
.form-wrapper .description,
.form-item .description {
  background: white;
  font-size: 0.85em;
  padding: 0 3px;
}

/* line 327, ../sass/global/_dom.scss */
.form-text {
  font-size: 1em;
  width: 100%;
  padding: .25em;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  color: #515151;
}

/* line 340, ../sass/global/_dom.scss */
html.js input.form-autocomplete {
  background-image: url(../assets/images/coral-throbber-blue-15.gif);
  background-position: 99.5% 10px;
  background-repeat: no-repeat;
}

/* line 346, ../sass/global/_dom.scss */
html.js input.form-autocomplete {
  background-position: 99.5% 10px;
}

/* line 349, ../sass/global/_dom.scss */
html.js input.throbbing {
  background-position: 99.5% -124px;
  /* LTR */
}

/* line 353, ../sass/global/_dom.scss */
.vertical-tabs ul li {
  list-style: none;
}

/* line 358, ../sass/global/_dom.scss */
html.js fieldset.collapsible {
  height: auto;
  display: block;
}

/* line 374, ../sass/global/_dom.scss */
.btn:hover, .btn-grn:hover,
a.btn:hover,
a.btn-grn:hover {
  color: #ffffff;
}

/* line 392, ../sass/global/_dom.scss */
table {
  width: 99.85%;
}
/* line 394, ../sass/global/_dom.scss */
table th {
  color: #777777;
  padding: 0 2px;
}
/* line 398, ../sass/global/_dom.scss */
table tr.even {
  background: #e7e7e7;
  border: none;
}
/* line 402, ../sass/global/_dom.scss */
table tr.odd {
  background: #f1f1f1;
  border: none;
}
/* line 406, ../sass/global/_dom.scss */
table a.tabledrag-handle .handle {
  margin: 0em .25em 0 1em;
  padding: 0.5em 0.2em;
}
/* line 410, ../sass/global/_dom.scss */
table tr.odd .form-item,
table tr.even .form-item {
  white-space: normal;
}

/* line 420, ../sass/global/_dom.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 435, ../sass/global/_dom.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 445, ../sass/global/_dom.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 452, ../sass/global/_dom.scss */
[hidden] {
  display: none;
}

/* line 72, icons/*.png */
.icons-sprite {
  background-image: url('/images/icons-s2443e5d0a2.png');
  background-repeat: no-repeat;
}

/* line 27, ../sass/global/_global.scss */
body .main-wrapper .main {
  position: relative;
  width: 80%;
  max-width: 1024px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
/* line 31, ../sass/global/_global.scss */
body .main-wrapper .main > #content {
  min-width: 100%;
}
/* line 35, ../sass/global/_global.scss */
body .main-wrapper .main .column {
  position: relative;
  float: left;
}
/* line 41, ../sass/global/_global.scss */
body .footer {
  padding: 0 2%;
  width: 80%;
  max-width: 1024px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 53, ../sass/global/_global.scss */
body.two-sidebars .main-wrapper .main > #content {
  padding-left: 27%;
  padding-right: 27%;
  min-width: 46%;
}
/* line 59, ../sass/global/_global.scss */
body.two-sidebars .main-wrapper .main #sidebar-first {
  width: 25%;
  right: 25%;
  margin-left: -75%;
  background: #e3ebf8;
}
/* line 66, ../sass/global/_global.scss */
body.two-sidebars .main-wrapper .main #sidebar-second {
  width: 25%;
  margin-left: -25%;
  background: #6698d5;
}

/* line 79, ../sass/global/_global.scss */
body.one-sidebar.sidebar-first .main-wrapper .main > #content {
  padding-left: 27%;
  min-width: 71%;
}
/* line 84, ../sass/global/_global.scss */
body.one-sidebar.sidebar-first .main-wrapper .main #sidebar-first {
  width: 25%;
  right: 25%;
  margin-left: -75%;
  background: #e3ebf8;
}

/* line 97, ../sass/global/_global.scss */
body.one-sidebar.sidebar-second .main-wrapper .main {
  background: #ffffff;
  position: relative;
  width: 80%;
  max-width: 1024px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
/* line 102, ../sass/global/_global.scss */
body.one-sidebar.sidebar-second .main-wrapper .main > #content {
  padding-right: 27%;
  min-width: 71%;
}
/* line 107, ../sass/global/_global.scss */
body.one-sidebar.sidebar-second .main-wrapper .main #sidebar-second {
  width: 25%;
  margin-left: -25%;
  background: #6698d5;
}

/* line 119, ../sass/global/_global.scss */
div.messages-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 126, ../sass/global/_global.scss */
div.tabs {
  padding: 0;
  margin-bottom: 1.5em;
  position: relative;
  top: -8px;
  z-index: 2;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
div.tabs:after {
  content: "";
  display: table;
  clear: both;
}
/* line 134, ../sass/global/_global.scss */
div.tabs ul {
  float: right;
  margin: 0 .25em 1.5em;
}
/* line 137, ../sass/global/_global.scss */
div.tabs ul li {
  margin: 0 .15em 0 0;
}
/* line 141, ../sass/global/_global.scss */
div.tabs ul li a {
  padding: 0 .5em;
  margin: 0;
  white-space: nowrap;
}
/* line 148, ../sass/global/_global.scss */
div.tabs ul.primary {
  border: none;
  white-space: normal;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 156, ../sass/global/_global.scss */
div.tabs ul.primary li a {
  font-size: 90%;
  border-style: none solid solid solid;
  border-width: 0px 1px 2px 1px;
  border-color: transparent #528bd0 #aac2ea #e3ebf8;
  background: #fdaa68;
  color: #ffffff;
  margin: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 2px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 2px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 0px 3px;
  background: #96b2df;
  background: -moz-linear-gradient(top, #96b2df 0%, #719feb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96b2df), color-stop(100%, #719feb));
  background: -webkit-linear-gradient(top, #96b2df 0%, #719feb 100%);
  background: -o-linear-gradient(top, #96b2df 0%, #719feb 100%);
  background: -ms-linear-gradient(top, #96b2df 0%, #719feb 100%);
  background: linear-gradient(to bottom, #96b2df 0%, #719feb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bot,GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 170, ../sass/global/_global.scss */
div.tabs ul.primary li a:hover {
  border-color: transparent #7aa5da #baceee #e3ebf8;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 175, ../sass/global/_global.scss */
div.tabs ul.primary li a:active, div.tabs ul.primary li a.active {
  background: #6f95d3;
  background: -moz-linear-gradient(top, #6f95d3 0%, #4481e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f95d3), color-stop(100%, #4481e4));
  background: -webkit-linear-gradient(top, #6f95d3 0%, #4481e4 100%);
  background: -o-linear-gradient(top, #6f95d3 0%, #4481e4 100%);
  background: -ms-linear-gradient(top, #6f95d3 0%, #4481e4 100%);
  background: linear-gradient(to bottom, #6f95d3 0%, #4481e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bot,GradientType=0 );
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
/* line 185, ../sass/global/_global.scss */
div.tabs ul.secondary {
  border-bottom: none;
  clear: both;
  float: none;
  padding: 0 0 0.625em 0;
  white-space: normal;
}
/* line 192, ../sass/global/_global.scss */
div.tabs ul.secondary li {
  border-right: none;
  float: right;
  margin-right: 0;
  padding: 0 0 0 5px;
}
/* line 198, ../sass/global/_global.scss */
div.tabs ul.secondary li a {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB3B3B3', endColorstr='#FF808080');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYjNiMyIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjOWE5YTlhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(70%, #9a9a9a));
  background: -moz-linear-gradient(#b3b3b3, #9a9a9a 70%);
  background: -webkit-linear-gradient(#b3b3b3, #9a9a9a 70%);
  background: linear-gradient(#b3b3b3, #9a9a9a 70%);
  -moz-box-shadow: #dadada 0 1px 0 inset;
  -webkit-box-shadow: #dadada 0 1px 0 inset;
  box-shadow: #dadada 0 1px 0 inset;
  border: 1px solid #8d8d8d;
  color: #ffffff;
  text-shadow: #717171 0 -1px 0;
  font-size: 12px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 3px;
}
/* line 15, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:hover {
  background-color: #8d8d8d;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2E3YTdhNyIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjOGQ4ZDhkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #a7a7a7), color-stop(75%, #8d8d8d));
  background: -moz-linear-gradient(#a7a7a7 3%, #8d8d8d 75%);
  background: -webkit-linear-gradient(#a7a7a7 3%, #8d8d8d 75%);
  background: linear-gradient(#a7a7a7 3%, #8d8d8d 75%);
}
/* line 21, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:active {
  -moz-box-shadow: #858585 0 1px 2px inset;
  -webkit-box-shadow: #858585 0 1px 2px inset;
  box-shadow: #858585 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a.disabled, div.tabs ul.secondary li a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #9a9a9a;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
div.tabs ul.secondary li a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 205, ../sass/global/_global.scss */
div.tabs ul.secondary li a:active, div.tabs ul.secondary li a.active {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDADADA', endColorstr='#FFA7A7A7');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjYmRiZGJkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dadada), color-stop(70%, #bdbdbd));
  background: -moz-linear-gradient(#dadada, #bdbdbd 70%);
  background: -webkit-linear-gradient(#dadada, #bdbdbd 70%);
  background: linear-gradient(#dadada, #bdbdbd 70%);
  -moz-box-shadow: white 0 1px 0 inset;
  -webkit-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #b1b1b1;
  color: #ffffff;
  text-shadow: #979797 0 -1px 0;
  font-size: 12px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 3px;
  text-shadow: none;
  color: #000000;
}
/* line 15, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:active:hover, div.tabs ul.secondary li a.active:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:active:hover, div.tabs ul.secondary li a.active:hover {
  background-color: #b1b1b1;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2NkY2RjZCIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjYjFiMWIxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #cdcdcd), color-stop(75%, #b1b1b1));
  background: -moz-linear-gradient(#cdcdcd 3%, #b1b1b1 75%);
  background: -webkit-linear-gradient(#cdcdcd 3%, #b1b1b1 75%);
  background: linear-gradient(#cdcdcd 3%, #b1b1b1 75%);
}
/* line 21, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:active:active, div.tabs ul.secondary li a.active:active {
  -moz-box-shadow: darkgray 0 1px 2px inset;
  -webkit-box-shadow: darkgray 0 1px 2px inset;
  box-shadow: darkgray 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
div.tabs ul.secondary li a:active.disabled, div.tabs ul.secondary li a:active[disabled], div.tabs ul.secondary li a.active.disabled, div.tabs ul.secondary li a.active[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #bdbdbd;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
div.tabs ul.secondary li a:active::-moz-focus-inner, div.tabs ul.secondary li a.active::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

@media screen and (max-width: 1024px) {
  /* line 220, ../sass/global/_global.scss */
  .pane-page-tabs ul.primary {
    margin-bottom: .5em;
  }
  /* line 223, ../sass/global/_global.scss */
  .pane-page-tabs ul.primary li a {
    margin: 0;
    line-height: 1.75em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 232, ../sass/global/_global.scss */
  .pane-page-tabs ul.secondary li a {
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
/* line 242, ../sass/global/_global.scss */
.ng-pristine .ng-invalid-required {
  box-shadow: none;
}

/* line 248, ../sass/global/_global.scss */
.block-ng-blocks-ng-guide-listing .topics {
  margin: .5em 0;
}
/* line 250, ../sass/global/_global.scss */
.block-ng-blocks-ng-guide-listing .topics li {
  list-style: none;
  float: left;
  margin: 0 0 0 .5em;
}
/* line 254, ../sass/global/_global.scss */
.block-ng-blocks-ng-guide-listing .topics li a {
  background: #dddddd;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #000000;
  padding: 0 10px;
  font-size: 90%;
  font-weight: normal;
}
/* line 261, ../sass/global/_global.scss */
.block-ng-blocks-ng-guide-listing .topics li a:hover {
  background: #ececec;
}
/* line 267, ../sass/global/_global.scss */
.block-ng-blocks-ng-guide-listing .user-info {
  margin: .5em .5em .5em 0;
}
/* line 269, ../sass/global/_global.scss */
.block-ng-blocks-ng-guide-listing .user-info img {
  margin-bottom: -.35em;
  margin-right: .25em;
}

/* line 278, ../sass/global/_global.scss */
.pager ul li.pager-page {
  list-style: none;
  display: inline-block;
  margin: 0 1em 0 0;
}

/* line 12, ../sass/global/grid.scss */
.grid-1 {
  float: left;
  width: 2.16667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-1-last {
  float: left;
  width: 4.16667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-1 {
  margin-left: 4.16667%;
}

/* line 20, ../sass/global/grid.scss */
.append-1 {
  margin-right: 4.16667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-2 {
  float: left;
  width: 6.33333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-2-last {
  float: left;
  width: 8.33333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-2 {
  margin-left: 8.33333%;
}

/* line 20, ../sass/global/grid.scss */
.append-2 {
  margin-right: 8.33333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-3 {
  float: left;
  width: 10.5%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-3-last {
  float: left;
  width: 12.5%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-3 {
  margin-left: 12.5%;
}

/* line 20, ../sass/global/grid.scss */
.append-3 {
  margin-right: 12.5%;
}

/* line 12, ../sass/global/grid.scss */
.grid-4 {
  float: left;
  width: 14.66667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-4-last {
  float: left;
  width: 16.66667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-4 {
  margin-left: 16.66667%;
}

/* line 20, ../sass/global/grid.scss */
.append-4 {
  margin-right: 16.66667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-5 {
  float: left;
  width: 18.83333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-5-last {
  float: left;
  width: 20.83333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-5 {
  margin-left: 20.83333%;
}

/* line 20, ../sass/global/grid.scss */
.append-5 {
  margin-right: 20.83333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-6 {
  float: left;
  width: 23%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-6-last {
  float: left;
  width: 25%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-6 {
  margin-left: 25%;
}

/* line 20, ../sass/global/grid.scss */
.append-6 {
  margin-right: 25%;
}

/* line 12, ../sass/global/grid.scss */
.grid-7 {
  float: left;
  width: 27.16667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-7-last {
  float: left;
  width: 29.16667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-7 {
  margin-left: 29.16667%;
}

/* line 20, ../sass/global/grid.scss */
.append-7 {
  margin-right: 29.16667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-8 {
  float: left;
  width: 31.33333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-8-last {
  float: left;
  width: 33.33333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-8 {
  margin-left: 33.33333%;
}

/* line 20, ../sass/global/grid.scss */
.append-8 {
  margin-right: 33.33333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-9 {
  float: left;
  width: 35.5%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-9-last {
  float: left;
  width: 37.5%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-9 {
  margin-left: 37.5%;
}

/* line 20, ../sass/global/grid.scss */
.append-9 {
  margin-right: 37.5%;
}

/* line 12, ../sass/global/grid.scss */
.grid-10 {
  float: left;
  width: 39.66667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-10-last {
  float: left;
  width: 41.66667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-10 {
  margin-left: 41.66667%;
}

/* line 20, ../sass/global/grid.scss */
.append-10 {
  margin-right: 41.66667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-11 {
  float: left;
  width: 43.83333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-11-last {
  float: left;
  width: 45.83333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-11 {
  margin-left: 45.83333%;
}

/* line 20, ../sass/global/grid.scss */
.append-11 {
  margin-right: 45.83333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-12 {
  float: left;
  width: 48%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-12-last {
  float: left;
  width: 50%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-12 {
  margin-left: 50%;
}

/* line 20, ../sass/global/grid.scss */
.append-12 {
  margin-right: 50%;
}

/* line 12, ../sass/global/grid.scss */
.grid-13 {
  float: left;
  width: 52.16667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-13-last {
  float: left;
  width: 54.16667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-13 {
  margin-left: 54.16667%;
}

/* line 20, ../sass/global/grid.scss */
.append-13 {
  margin-right: 54.16667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-14 {
  float: left;
  width: 56.33333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-14-last {
  float: left;
  width: 58.33333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-14 {
  margin-left: 58.33333%;
}

/* line 20, ../sass/global/grid.scss */
.append-14 {
  margin-right: 58.33333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-15 {
  float: left;
  width: 60.5%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-15-last {
  float: left;
  width: 62.5%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-15 {
  margin-left: 62.5%;
}

/* line 20, ../sass/global/grid.scss */
.append-15 {
  margin-right: 62.5%;
}

/* line 12, ../sass/global/grid.scss */
.grid-16 {
  float: left;
  width: 64.66667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-16-last {
  float: left;
  width: 66.66667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-16 {
  margin-left: 66.66667%;
}

/* line 20, ../sass/global/grid.scss */
.append-16 {
  margin-right: 66.66667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-17 {
  float: left;
  width: 68.83333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-17-last {
  float: left;
  width: 70.83333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-17 {
  margin-left: 70.83333%;
}

/* line 20, ../sass/global/grid.scss */
.append-17 {
  margin-right: 70.83333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-18 {
  float: left;
  width: 73%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-18-last {
  float: left;
  width: 75%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-18 {
  margin-left: 75%;
}

/* line 20, ../sass/global/grid.scss */
.append-18 {
  margin-right: 75%;
}

/* line 12, ../sass/global/grid.scss */
.grid-19 {
  float: left;
  width: 77.16667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-19-last {
  float: left;
  width: 79.16667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-19 {
  margin-left: 79.16667%;
}

/* line 20, ../sass/global/grid.scss */
.append-19 {
  margin-right: 79.16667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-20 {
  float: left;
  width: 81.33333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-20-last {
  float: left;
  width: 83.33333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-20 {
  margin-left: 83.33333%;
}

/* line 20, ../sass/global/grid.scss */
.append-20 {
  margin-right: 83.33333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-21 {
  float: left;
  width: 85.5%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-21-last {
  float: left;
  width: 87.5%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-21 {
  margin-left: 87.5%;
}

/* line 20, ../sass/global/grid.scss */
.append-21 {
  margin-right: 87.5%;
}

/* line 12, ../sass/global/grid.scss */
.grid-22 {
  float: left;
  width: 89.66667%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-22-last {
  float: left;
  width: 91.66667%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-22 {
  margin-left: 91.66667%;
}

/* line 20, ../sass/global/grid.scss */
.append-22 {
  margin-right: 91.66667%;
}

/* line 12, ../sass/global/grid.scss */
.grid-23 {
  float: left;
  width: 93.83333%;
  margin-right: 2%;
}

/* line 18, ../sass/global/grid.scss */
.grid-23-last {
  float: left;
  width: 95.83333%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-23 {
  margin-left: 95.83333%;
}

/* line 20, ../sass/global/grid.scss */
.append-23 {
  margin-right: 95.83333%;
}

/* line 12, ../sass/global/grid.scss */
.grid-24 {
  width: 98%;
}

/* line 18, ../sass/global/grid.scss */
.grid-24-last {
  width: 100%;
}

/* line 19, ../sass/global/grid.scss */
.prepend-24 {
  margin-left: 100%;
}

/* line 20, ../sass/global/grid.scss */
.append-24 {
  margin-right: 100%;
}

/* line 22, ../sass/global/grid.scss */
.grid-last {
  margin-right: 0;
}

/* line 25, ../sass/global/grid.scss */
.row {
  float: left;
  clear: both;
  width: 100%;
}
