
@import 'global/buttons';

.pane-nebula-user-info {
  margin-top: 1.35em;
  .login a {
    @include btn-matte-inset(4px, 18px, $mdblue, darken($mdblue, 3%), $white);
    @include btn-structure(4px 8px, 18px, 4px);
    margin-left: .5em;
  }
  img {
    position: relative;
    top: .4em;
    margin-right: .25em;
  }
}


