
@import 'global/colors';
@import 'global/buttons';
@import 'global/fonts';
@import 'global/icons';

@import "compass/css3/border-radius";

.pane-ng-user-info {
  margin-top: 1.35em;
  position: relative;
  text-align: right;
  z-index: 3;

  a.login {
    @include btn-matte-inset(4px, 18px, $mdblue, darken($mdblue, 3%), $white);
    @include btn-structure(4px 8px, 18px, 4px);
    margin-left: .35em;
  }
  img {
    position: relative;
    top: .4em;
    margin-right: .25em;
  }
  
  span.tog-on,
  span.tog-off {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    @include border-radius(10px);
    @include icons-sprite('tog-on'); 
    
  }
  span.tog-off {
    @include icons-sprite('tog-off');
  }
  
  .user-menu {
    background: lighten($ltgray, 7%);
    position: absolute;
    top: 2.5em;
    right: 0;
    text-align: left;
    padding: 0px;
    margin: 0;
    min-width: 8em;
    border: 1px solid $ltgray;
    
    li {
      list-style: none;
      list-style-image: none;
      margin: 0;
      border-bottom: 1px solid $ltgray;
      
      &.last {
        border-bottom: none;
      }
      
      a {
        display: block;
        padding: 2px 5px;
        
        &:hover {
          background: lighten($ltgray, 4%);
        }
      }
    }
  }
  form {
    background: lighten($ltgray, 7%);
    position: absolute;
    top: 2.5em;
    right: 0;
    text-align: left;
    padding: 0 .5em .5em;
    margin: 0;
    min-width: 8em;
    border: 1px solid $ltgray;
    
    h5 {
      margin-top: .35em;
    }
    
    .form-item {
      margin: .5em 0;
      input {
        
      }
      input.input-error {
        border: 2px solid $ltred;
        background: lighten($ltred, 25%);
      }
    }
    
    .alert-danger.message-active {
      border: 2px solid $ltred;
      background: lighten($ltred, 25%);
      font-size: 90%;
      padding: 5px 3px;
      margin: .5em 0;
    }
  }
}
