
// File for storing / including button mixins
//  includes sassy buttons: https://github.com/jhardy/Sassy-Buttons
//
// ------------------------------
// Sassy buttons default inputs:
//  @include sassy-button(gradient-style, border-radius, font-size, first-color, second-color, text-color, text-style, auto-states, ie-support);
// ------------------------------

@import 'global/colors';
@import "sassy-buttons";

// lighten glassy on hover
// Glassy
@mixin btn-glass($radius: 0px, $font-size: 16px, $color: $mdblue, $color2: lighten($mdblue, 10%), $text-color: $white) {
  @include btn-glass-ltn($radius, $font-size, $color, $color2, $text-color);
}

@mixin btn-glass-ltn($radius: 0px, $font-size: 16px, $color: $mdblue, $color2: lighten($mdblue, 10%), $text-color: $white) {
  @include sassy-button("glass", $radius, $font-size, $color, $color2, $text-color);
}

@mixin btn-glass-dkn($radius: 0px, $font-size: 16px, $color: $mdblue, $color2: darken($mdblue, 3%), $text-color: $white) {
  @include sassy-button("glass", $radius, $font-size, $color, $color2, $text-color);
}

// Shiny
@mixin btn-shine($radius: 0px, $font-size: 16px, $color: $mdblue, $color2: lighten($mdblue, 10%), $text-color: $white) {
  @include sassy-button("shiny", $radius, $font-size, $color, $color2, $text-color);
}

// Matte inset
@mixin btn-matte-inset($radius: 0px, $font-size: 16px, $color: $mdblue, $color2: darken($mdblue, 3%), $text-color: $white) {
  @include sassy-button("matte", $radius, $font-size, $color, $color2, $text-color, "inset");
}

@mixin btn-structure($padding: 2px 5px, $font-size: 16px, $radius: 0px) {
  @include sassy-button-structure($radius, $font-size, $padding);
}




@mixin btn-reset() {
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: $dkgray;
}


