
// File should contain only gradient definitions
@import 'global/colors';

@mixin linear-v-gradient($top:$dkblue, $bot:$mdblue) {
  background: $top; // Old browsers
  background: -moz-linear-gradient(top, $top 0%, $bot 100%); // FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bot)); // Chrome,Safari4+
  background: -webkit-linear-gradient(top, $top 0%,$bot 100%); // Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, $top 0%,$bot 100%); // Opera 11.10+
  background: -ms-linear-gradient(top, $top 0%,$bot 100%); // IE10+
  background: linear-gradient(to bottom, $top 0%,$bot 100%); // W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bot,GradientType=0 ); // IE6-9
}


@mixin linear-h-gradient($left:$dkblue, $right:$mdblue) {
  background: $left; /* Old browsers */
  background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $left 0%,$right 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $left 0%,$right 100%); /* IE10+ */
  background: linear-gradient(to right, $left 0%,$right 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right,GradientType=1 ); /* IE6-9 */
}

@mixin radial-gradient($outside:$white, $inside:$ltgray) {
  background: $inside; /* fallback for non-supporting browsers */  
  
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from($inside), to($outside)); /* old WebKit Syntax */  
  background-image: -webkit-radial-gradient(center center, circle contain, $inside 0%, $outside 100%); /* New WebKit syntax */  
  background-image: -moz-radial-gradient(center center, circle contain, $inside 0%, $outside 100%);  
  background-image: -ms-radial-gradient(center center, circle contain, $inside 0%, $outside 100%); /* IE10+ */  
  background-image: -o-radial-gradient(center center, circle contain, $inside 0%, $outside 100%); /* Opera (13?) */  
  
  // @TODO: Implement color stops in gradients!
  //background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(black), to(white), color-stop(25%, blue), color-stop(40%, green), color-stop(60%, red), color-stop(80%, purple)); /* old WebKit Syntax */  
  //background-image: -webkit-radial-gradient(center center, circle contain, black 0%, blue 25%, green 40%, red 60%, purple 80%, white 100%); /* New WebKit syntax */  
  //background-image: -moz-radial-gradient(center center, circle contain, black 0%, blue 25%, green 40%, red 60%, purple 80%, white 100%);  
  //background-image: -ms-radial-gradient(center center, circle contain, black 0%, blue 25%, green 40%, red 60%, purple 80%, white 100%); /* IE10+ */  
  //background-image: -o-radial-gradient(center center, circle contain, black 0%, blue 25%, green 40%, red 60%, purple 80%, white 100%); /* Opera (13?) */  
}

@mixin reflected-h-gradient($left:$white, $center:$mdblue, $right:$white) {
  background: $center; /* Old browsers */
  background: -moz-linear-gradient(left, $left 0%, $center 50%, $right 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $left), color-stop(50%, $center), color-stop(100%, $right)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $left 0%,$center 50%, $right 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $left 0%, $center 50%, $right 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $left 0%,$center 50%, $right 100%); /* IE10+ */
  background: linear-gradient(to right, $left 0%, $center 50%, $right 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right ,GradientType=1 ); /* IE6-9 */
}

@mixin reflected-v-gradient($top:$white, $center:$mdblue, $bottom:$white) {
  background: $center; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $center 50%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(50%,$center), color-stop(100%, $bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%, $center 50%, $bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $center 50%, $bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $center 50%, $bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $center 50%, $bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 ); /* IE6-9 */
}

// @TODO make this work even with >= IE7
// @TODO see how we could extropolate this to allow it to make 
//        comprehensive column designs... like infinite number of cols!
@mixin col-gradient($colstart: $ltgray, $colend: $white, $end: $white, $colwidth: 12em) {
  background: -webkit-linear-gradient(left, $colstart $colwidth, $colend $colwidth, $end);
  background: -moz-linear-gradient(left, $colstart $colwidth, $colend $colwidth, $end);
  background: -o-linear-gradient(left, $colstart $colwidth, $colend $colwidth, $end);
  background: -ms-linear-gradient(left, $colstart $colwidth, $colend $colwidth, $end);
  background: linear-gradient(to right, $colstart $colwidth, $colend $colwidth, $end);
}
