
// Primary palette file for CoralNexus
//  Only color related things should go in here.

// Primaries
$white: #ffffff;
$black: #000000;

// Grays
$ltgray: #dddddd;
$mdgray: #777777;
$dkgray: #515151;
$silver: #c0c0c0;

// Blues
$ltblue: #e3ebf8;
$mdblue: #6698d5;
$dkblue: #294c76;

// Reds
$ltred: #d9837b;
$mdred: #b02e1c;
$dkred: #762921;

// Greens
$ltgreen: #e8f6e5;
$mdgreen: #36b048;
$dkgreen: #20682a;

// Oranges
$ltorange: #fdaa68;
$mdorange: #e17d2c;
$dkorange: #b9490d;

// Yellows
$ltyellow: #fbf6d9;
$mdyellow: #e5d14a;
$dkyellow: #ac9605;
