
// This file is used for global default classes and class sets.
//  It should contain only helper type class definitions.

@import 'global/site_vars';
@import 'global/fonts';
//@import 'global/site_headers';
@import 'global/colors';

// hides
.hide { position: absolute !important; left: -9999em; }

// floats
.left, div.left  { float: left;  }
.right, div.right { float: right; }

// and clears
.clear       { clear: both;  }
.clear-right { clear: right; }
.clear-left  { clear: left;  }

clear {
  display: block;
  width: 100%;
  clear: both;
}

.block {
  display: block;
}

// forms
html .field-default {
  color: lighten($mdgray, 15%);
}

// Cursor
.pointer {
  cursor: pointer;
}


// Site width
.site-width {
  @include site_width;

  .site-width {
    width: 100%; // Reset inner level
  }
}


// Text
strong, b,
.strong {
  font-weight: bold;
}

.sml,
.small {
  font-size: 80%;
  line-height: 1.25em;
}

// Headers 
/*
.xxhuge { @include xxhuge; }
.dblhuge { @include dblhuge; }
.hugeplus { @include hugeplus; }
.huge { @include huge; }
.h1 { @include h1; }
.h2 { @include h2; }
.h3 { @include h3; }
.h4 { @include h4; }
*/

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

// Have to specify a width on the
// element for this to work
.auto-cntr {
  margin-left: auto;
  margin-right: auto;
}


// Simulated (override-able ;-) break tags
.br {
  display: block;
}

// Color construct
/*
.white { color: $white; }
.black { color: $black; }
.ltgray { color: $ltgray; }
.mdgray { color: $mdgray; }
.dkgray { color: $dkgray; }
.silver { color: $silver; }
.ltred { color: $ltred; }
.mdred { color: $mdred; }
.dkred { color: $dkred; }
.ltgreen { color: $ltgreen; }
.mdgreen { color: $mdgreen; }
.dkgreen { color: $dkgreen; }
.ltblue { color: $ltblue; }
.mdblue { color: $mdblue; }
.dkblue { color: $dkblue; }
.ltorange { color: $ltorange; }
.mdorange { color: $mdorange; }
.dkorange { color: $dkorange; }
.ltyellow { color: $ltyellow; }
.mdyellow { color: $mdyellow; }
.dkyellow { color: $dkyellow; }
//-----
.bg-white { background: $white; }
.bg-black { background: $black; }
.bg-ltgray { background: $ltgray; }
.bg-mdgray { background: $mdgray; }
.bg-dkgray { background: $dkgray; }
.bg-silver { background: $silver; }
.bg-ltred { background: $ltred; }
.bg-mdred { background: $mdred; }
.bg-dkred { background: $dkred; }
.bg-ltgreen { background: $ltgreen; }
.bg-ltrgreen { background: lighten($ltgreen, 20%); }
.bg-mdgreen { background: $mdgreen; }
.bg-dkgreen { background: $dkgreen; }
.bg-ltblue { background: $ltblue; }
.bg-ltrblue { background: lighten($ltblue, 10%); }
.bg-mdblue { background: $mdblue; }
.bg-dkblue { background: $dkblue; }
.bg-ltorange { background: $ltorange; }
.bg-mdorange { background: $mdorange; }
.bg-dkorange { background: $dkorange; }
.bg-ltyellow { background: $ltyellow; }
.bg-mdyellow { background: $mdyellow; }
.bg-dkyellow { background: $dkyellow; }
*/
// See also site_colors partial


// borders
// -- lights
/*
.b-top { border-top: 1px solid $ltgray; }
.b-bot { border-bottom: 1px solid $ltgray; }
.b-left { border-left: 1px solid $ltgray; }
.b-right { border-right: 1px solid $ltgray; }
.borders { border: 1px solid $ltgray; }

.b-top-2 { border-top: 2px solid $ltgray; }
.b-bot-2 { border-bottom: 2px solid $ltgray; }
.b-left-2 { border-left: 2px solid $ltgray; }
.b-right-2 { border-right: 2px solid $ltgray; }
.borders-2 { border: 2px solid $ltgray; }
*/
/*
.b-top-ltblu { border-top: 1px solid $ltblue; }
.b-bot-ltblu { border-bottom: 1px solid $ltblue; }
.b-left-ltblu { border-left: 1px solid $ltblue; }
.b-right-ltblu { border-right: 1px solid $ltblue; }
.borders-ltblu { border: 1px solid $ltblue; }

.b-top-ltred { border-top: 1px solid $ltred; }
.b-bot-ltred { border-bottom: 1px solid $ltred; }
.b-left-ltred { border-left: 1px solid $ltred; }
.b-right-ltred { border-right: 1px solid $ltred; }
.borders-ltred { border: 1px solid $ltred; }

.b-top-ltyel { border-top: 1px solid $ltyellow; }
.b-bot-ltyel { border-bottom: 1px solid $ltyellow; }
.b-left-ltyel { border-left: 1px solid $ltyellow; }
.b-right-ltyel { border-right: 1px solid $ltyellow; }
.borders-ltyel { border: 1px solid $ltyellow; }

.b-top-ltgrn { border-top: 1px solid $ltgreen; }
.b-bot-ltgrn { border-bottom: 1px solid $ltgreen; }
.b-left-ltgrn { border-left: 1px solid $ltgreen; }
.b-right-ltgrn { border-right: 1px solid $ltgreen; }
.borders-ltgrn { border: 1px solid $ltgreen; }
*/

// margins
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}

.mt-3125 {
  margin-top: ($default_vert_unit / 4) !important;
}
.mb-3125 {
  margin-bottom: ($default_vert_unit / 4) !important;
}
.ml-3125 {
  margin-left: ($default_vert_unit / 4) !important;
}
.mr-3125 {
  margin-right: ($default_vert_unit / 4) !important;
}

.mt-0625 {
  margin-top: ($default_vert_unit / 2) !important;
}
.mb-0625 {
  margin-bottom: ($default_vert_unit / 2) !important;
}
.ml-0625 {
  margin-left: ($default_vert_unit / 2) !important;
}
.mr-0625 {
  margin-right: ($default_vert_unit / 2) !important;
}

.ml-1 {
  margin-left: 1em !important;
}
.mr-1 {
  margin-right: 1em !important;
}
.mt-1 {
  margin-top: 1em !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}

.mt-125 {
  margin-top: $default_vert_unit !important;
}
.mb-125 {
  margin-bottom: $default_vert_unit !important;
}

.mt-25 {
  margin-top: 2 * $default_vert_unit !important;
}
.mb-25 {
  margin-bottom: 2 * $default_vert_unit !important;
}
.ml-25 {
  margin-left: 2 * $default_vert_unit !important;
}
.mr-25 {
  margin-right: 2 * $default_vert_unit !important;
}

.mt-375 {
  margin-top: 3 * $default_vert_unit !important;
}
.mb-375 {
  margin-bottom: 3 * $default_vert_unit !important;
}


// paddings
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}

.pt-0625 {
  padding-top: ($default_vert_unit / 2) !important;
}
.pb-0625 {
  padding-bottom: ($default_vert_unit / 2) !important;
}
.pl-0625 {
  padding-left: ($default_vert_unit / 2) !important;
}
.pr-0625 {
  padding-right: ($default_vert_unit / 2) !important;
}

.pl-1 {
  padding-left: 1em !important;
}
.pr-1 {
  padding-right: 1em !important;
}
.pt-1 {
  padding-top: 1em !important;
}
.pb-1 {
  padding-bottom: 1em !important;
}

.pt-125 {
  padding-top: $default_vert_unit !important;
}
.pb-125 {
  padding-bottom: $default_vert_unit !important;
}

.pt-25 {
  padding-top: 2 * $default_vert_unit !important;
}
.pb-25 {
  padding-bottom: 2 * $default_vert_unit !important;
}
.pl-25 {
  padding-left: 2 * $default_vert_unit !important;
}
.pr-25 {
  padding-right: 2 * $default_vert_unit !important;
}

.pt-375 {
  padding-top: 3 * $default_vert_unit !important;
}
.pb-375 {
  padding-bottom: 3 * $default_vert_unit !important;
}

